<?xml version="1.0"?>

<configuration>

    <connectionStrings>
        <add name="NetTest12" connectionString="Data Source=.;Initial Catalog=NetTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NetTest1" connectionString="Data Source=.;Initial Catalog=NetTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
